<!DOCTYPE html>
<html>
  <head>
    <title> Blog Delete </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Blog Delete </h1>
    <p> This blog feature is under construction. </p>
  </body>
</html>